.container {
  text-align: center;
}

.dicee {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  font-size: 8rem;
  font-family: 'Lobster', cursive;
  color: #4ECCA3;
  text-shadow: 5px 0 #232931;
  margin: 30px;
}

p {
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  color: #4ECCA3;
}
img{
  width: 80%;
}
footer { margin-top: 5%;
  font-family: 'Indie Flower', cursive;
  color: #EEEEEE;
  text-align: center;
}
